.chat {
  margin-top: 5rem;

  .chat-header {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0;
    }
  }

  .chat-body {
    display: flex;
    padding: 0;
    height: 60vh;
    position: relative;

    @import './message.scss';

    .chat-info {
      padding: .5em;
      width: 25%;
      height: 100%;
      border-right: 1px solid black;

      @import './user.scss';

      .room-name { 
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: .5em;
      }
    }
  }

  .chat-footer {
    .send-message-form {
      display: flex;
    }
  }
}