.chat {
  margin-top: 5rem;

  .chat-header {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0;
    }
  }

  .chat-body {
    display: flex;
    padding: 0;
    height: 40vh;

    .chat-info {
      padding: .5em;
      width: 25%;
      height: 100%;
      border-right: 1px solid black;
    }

    .message-container {
      width: 75%;
    }
  }

  .chat-footer {
    .send-message-form {
      display: flex;
    }
  }
}