.message-container {
  width: 75%;
  overflow-y: auto;
  overflow-x: hidden;

  .writing-users {
    position: absolute;
    left: 30%;
    top: 94%;
  }
  
  .message-list {
    padding: 1em;
    margin: 0;
  }

  .message {
    padding: .5em;

    .message-time {
      font-size: .7em;
      font-style: italic;
      text-decoration: underline;
    }
  }

  .message-enter-active {
    animation: message 650ms ease-in;
  }

  @keyframes message {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }

    70% {
      transform: translateX(5%);
      opacity: .6;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}