.message-container {
  width: 75%;
  
  .message-list {
    padding: 1em;
    margin: 0;
  }

  .message {
    padding: .5em;

    .message-time {
      font-size: .7em;
      font-style: italic;
      text-decoration: underline;
    }
  }
  overflow-y: auto;
}