.alert {
  margin-top: 0.5em;
  margin-bottom: 0;
  position: absolute;
  left: 15%;
  top: -30%;
}


.alert-enter-active {
  animation: alert 600ms ease-in;
}

.alert-exit-active {
  animation: alert 450ms ease-out reverse;
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  70% {
    opacity: .7;
    transform: translateY(10px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}